body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f5;
    margin: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

ol {
    background: #e9e9e3;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

li {
    margin: 8px 0;
}

a {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #555;
}

.dot1 {
    width: 100px;
    height: 2px;
    background-color: rgb(56, 1, 67);
    margin: 20px auto;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
