body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    text-align: center;
}


h2 {
    font-size: 24px;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}


li {
    font-size: 18px;
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
}


ol, ul {
    list-style-position: inside;
    text-align: center;
}
